@using TaskCFT.Data;
@model PaginatedList<TaskCFT.Models.ViewModels.ApplicationVM.ApplicationListVM>

@{
    ViewData["Title"] = "Приложения";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var pageSize = 10;
}

<h1>Приложения</h1>

@if (Model.Count > 0)
{
    <table class="table">
    <thead>
        <tr>
            <th width="80%">
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th width="20%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Детали</a>
            </td>
        </tr>
    }
    </tbody>
    </table>
    if (ViewBag.Count > pageSize)
    {
        <p class="page_number">@((Model.PageIndex * pageSize) < ViewBag.Count ? (Model.PageIndex * pageSize) : ViewBag.Count) из @ViewBag.Count</p>
        <span class="page_number">
            <a asp-action="Index"
            asp-route-page="@(Model.PageIndex - 1)"
            asp-route-pageSize="@pageSize"
            class="btn btn-default @prevDisabled">
                &lt
            </a>
            @Model.PageIndex
            <a asp-action="Index"
            asp-route-page="@(Model.PageIndex + 1)"
            asp-route-pageSize="@pageSize"
            class="btn btn-default @nextDisabled">
                >
            </a>
        </span>
    }
} 
else
{
    <h3 class="text-center">Данные отсутсвуют</h3>
}
